

<div class="bcm_view-recipt">
<h2>View Receipts:</h2>

{{#if todos.length}}
<ul>
    {{#each todos}}
    <li class="todo">
        <label>
            <table class="table table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Full Name</th>
                            <th>Amount</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Occasion</th>
                            <th>image</th>
                            <th>Completed</th>
                            <th>update</th>
                            <th>delete</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
            <form action="/complete" method="POST">
                
                        {{#if completed}}
                            <td>
                                <input type="checkbox" checked name="completed" class="completed">
                            </td>
                        
                            <td>
                                
                                <span class="completed">{{fullName}}</span>
                            </td>
                            <td>
                                <span class="completed">{{amount}}</span>
                            </td>
                             <td>
                                
                                <span class="completed">{{phone}}</span>
                            </td>
                            <td>
                                <span class="completed">{{address}}</span>
                            </td>
                            <td>
                                <span class="completed">{{occasion}}</span>
                            </td>
                            
                            <td>
                                <span class="completed"><img src="{{{image}}}"  class="img-responsive" id="image"></span>
                            </td>

                            {{else}}
                            <td> 
                                <input type="checkbox" name="completed"> 
                            </td>
                            <td> 
                                <span>{{fullName}}</span>
                            </td>
                            <td> 
                                <span>{{amount}}</span>
                            </td>
                            <td> 
                                <span>{{phone}}</span>
                            </td>
                            <td> 
                                <span>{{address}}</span>
                            </td>
                            <td> 
                                <span>{{occasion}}</span>
                            </td>
                            
                            <td>
                               <span><img src="{{{image}}}"  class="img-responsive" id="image"></span>
                            </td>

                            {{/if}}

                            <td><input type="hidden" value="{{_id}}" name="id">
                                 <button class="btn btn-small bcm-btn-red"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                            </td>
                        
               

            </form>
          
            {{!-- <form action="/update" method="POST">
                <td><div class="input-field">
                    <input type="text" placeholder="Task text:" name="title">
                    <input type="text" placeholder="Task text:" name="fname">
                </div>
                <input type="hidden" value="{{_id}}" name="id">
                <button class="btn btn-small" type="submit">update</button>
                </div>
</td>
            </form> --}}

            {{!-- <form action="/delete" method="POST">
               <td> <input type="hidden" value="{{_id}}" name="id">
                <button class="btn btn-small" type="submit">Delete</button>
                </td>

            </form> --}}
            <td>
                <button class="btn btn-small bcm-btn-red" data-toggle="modal" data-target="#myModal"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> </button>
            </td>
            <td>
               <form action="/delete" method="POST">
               <input type="hidden" value="{{_id}}" name="id">
                <button class="btn btn-small bcm-btn-red" type="submit"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
            </form>
            </td>
            
            </tr>
             </tbody>
                </table>

                
        </label>
 
    </li>
    {{/each}}
</ul>
{{else}}
<p>No task!</p>
{{/if}}


{{#each todos}}
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Data</h4>
      </div>
      <div class="modal-body">
         
        <form action="/update" method="POST">
                <div class="form-group">
<input type="text" class="form-control" placeholder="Full Name" name="fullName">
</div>
<div class="form-group">
<input type="text" class="form-control" placeholder="Amount" name="amount">
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Phone" name="phone">
</div>
<div class="form-group">
   <input type="text" class="form-control" placeholder="Address" name="address"> 
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Occasion" name="occasion">
</div>
                <div class="form-group">
                <input type="hidden" value="{{_id}}" name="id">
                <button class="btn btn-small bcm-btn-red"  type="submit">update</button>
                </div>

            </form>
            
      </div>
      
    </div>

  </div>
  {{/each}}

</div>